.messages{
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      padding: 5rem 2rem 2rem 2rem;
      background-color: #ff4500;
      overflow-y: scroll;
      color: white;
}

.clear{
      border-radius: 5px;
      background-color: rgb(229, 229, 229);
      padding: 10px 15px;
      border: none;
      cursor: pointer;
}

.messageText{
      padding: 1rem 2rem;
      background-color: rgb(124, 194, 255);
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      color: black;
}