.estudantes{
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      box-shadow: 0px 5px 18px -7px rgba(0,0,0,0.95);
      border-radius: 15px;
      padding: 1.5rem 3rem;
}

.estudantes::before{
      content: 'Estudantes';
      color: black;
      font-size: 2vw;
      font-weight: bold;
}

.estudantes li{
      list-style: none;
      margin-top: 10px;
      margin-bottom: 10px;
}

.estudantes li button{
      background-color: transparent;
      border: none;
      cursor: pointer;
      text-decoration: none;
}

.estudantes li a{
      text-decoration: none;
      transition: all ease-in-out 200ms;
}

.estudantes li a:hover{
      padding-left: 15px;
}

.estudantes li button span{
      font-size: 1.5vw;
}

.delete{
      color: red;
      margin-left: 10px;
      font-size: 25px;
      line-height: 25px;
      font-weight: 700;
      float: right;
}

.inputStudent{
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      left: 5%;
      box-shadow: 0px 5px 18px -7px rgba(0,0,0,0.95);
      border-radius: 15px;
      padding: 1.5rem 3rem;
      display: flex;
      flex-direction: column;
      gap: 5px;
}

.inputStudent h2{
      margin-bottom: 1rem;
}

.inputStudent button{
      margin-top: 2rem;
      width: fit-content;
      background-color: orangered;
      outline: none;
      color: white;
      border-radius: 8px;
      border: 0;
      padding: 15px 20px;
      font-weight: 700;
}