.detalhes{
      transform: translate(-50%, -50%);
      position: absolute;
      left: 50%;
      top: 50%;
      border-radius: 15px;
      padding: 2rem 2rem;
      background-color: #fff;
      box-shadow: 0px 5px 18px -7px rgba(0,0,0,0.95);
}

.dados{
      display: flex;
      flex-direction: column; 
}

.dados label{
      margin-bottom: 8px;
      margin-top: 15px;
}

.dados input{
      border-radius: 5px;
      padding: 5px;
}

.detalhes h2{
      margin: 0;
}

.detalhes button{
      background-color: orangered;
      color: #fff;
      padding: 8px 12px;
      border-radius: 5px;
      border: none;
      font-size: 1rem;
      margin-bottom: 1rem;
      cursor: pointer;
      transition: all ease-in-out 200ms;
}

.detalhes button:hover{
      background-color: rgba(255, 68, 0, 0.418);
      color: #000;
}